<p><%= @resource.email %>さま</p>

<p>技大祭実行委員会です。</p>
<p>パスワード変更の申請を受け付けました。下記リンクよりシステムへアクセスをお願いします。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>(リンクが正しく表示されない場合には下記のアドレスをブラウザへ入力して下さい)</p>
<p><%= "#{edit_password_url(@resource, reset_password_token: @token)}" %></p>

<p>パスワードの変更に心当たりのない場合はこのe-mailを無視してください。</p>
<p>上記のURLからアクセスしない限り, パスワードは変更されません。</p>
